.viking-input-wrapper {
  max-width: 600px;
  position: relative;
  font-size: 14px;
  display: inline-block;

  &:hover {
    .viking-input-inner {
      border: solid 1px #3370ff;
    }
  }

  &.is-disabled {
    .viking-input-inner {
      background-color: #f5f7fa;
      border-color: #e4e7ed;
      color: #c0c4cc;
      cursor: not-allowed;

      &:hover {
        border: solid 1px #e4e7ed;
      }
    }
  }

  .viking-input-inner {
    display: inline-block;
    width: 100%;
    @include Input-size(32px);
    padding: 0 15px;
    border-radius: 4px;
    border: solid 1px #dcdfe6;
    box-sizing: border-box;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    font-size: inherit;
    outline: none;
    transition: border 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;

    &:hover {
      + .input__suffix {
        .clear-icon {
          opacity: 1;
        }
      }
    }

    &:focus {
      outline: none;
      border-color: #3370ff;
    }
  }

  &.input--prefix {
    .viking-input-inner {
      box-sizing: border-box;
      padding-left: 30px;
    }

    .input__prefix {
      position: absolute;
      height: 100%;
      left: 10px;
      top: 0;
      @include Input-size(32px);
      text-align: center;
      color: #c0c4cc;
      transition: all 0.3s;
      z-index: 900;

      .icon {
        color: #c0c4cc;
        font-size: 14px;
        transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }
  }

  &.input--suffix {
    .viking-input-inner {
      box-sizing: border-box;
      // padding-right: 30px;
    }

    .inner-input-wrapper {
      position: relative;
      width: 100%;

      .input__suffix {
        position: absolute;
        right: 10px;
        top: 0;
        width: 14px;
        @include Input-size(32px);
        text-align: center;
        color: #c0c4cc;
        transition: all 0.3s;
        z-index: 900;

        &:hover {
          .clear-icon {
            opacity: 1;
          }
        }

        .icon {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          color: #c0c4cc;
          font-size: 14px;
          background: #fff;
          transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
          z-index: 100;

          + .icon {
            z-index: 99;
          }
        }
      }
    }
  }

  .clear-icon {
    cursor: pointer;
    opacity: 0;
  }

  &.input-group {
    display: flex;
    width: 100%;

    &.input-group-addonBefore {
      .input-group__addonBefore {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        color: #2b2f36;
        background-color: #f5f7fa;
        position: relative;
        border: solid 1px #bbbfc480;
        border-radius: 4px;
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 0 11px;
        white-space: nowrap;
      }

      .inner-input-wrapper {
        flex: 1;

        .viking-input-inner {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    &.input-group-addonAfter {
      .input-group__addonAfter {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        color: #2b2f36;
        background-color: #f5f7fa;
        position: relative;
        border: solid 1px #bbbfc480;
        border-radius: 4px;
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 0 11px;
        white-space: nowrap;
      }

      .viking-input-inner {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}

.input-size-medium {
  font-size: 14px;

  .viking-input-inner {
    font-size: inherit;
    @include Input-size(28px);
  }

  &.input--prefix {
    .inner-input-wrapper {
      .input__prefix {
        @include Input-size(28px);
      }
    }
  }

  &.input--suffix {
    .inner-input-wrapper {
      .input__suffix {
        @include Input-size(36px);
      }
    }
  }
}

.input-size-small {
  font-size: 12px;

  .viking-input-inner {
    font-size: inherit;
    @include Input-size(28px);
  }

  &.input--prefix {
    .inner-input-wrapper {
      .input__prefix {
        @include Input-size(28px);
      }
    }
  }

  &.input--suffix {
    .inner-input-wrapper {
      .input__suffix {
        @include Input-size(28px);
      }
    }
  }
}
