.viking-Collapse {
  border: solid $panel-item-border-width $panel-item-border-color;
  border-bottom: none;

  .collapse-item {
    border-bottom: solid $panel-item-border-width $panel-item-border-color;

    .Panel-head {
      display: flex;
      align-items: center;
      padding: $panel-item-padding-y $panel-item-padding-x;
      background: $panel-item-background;
      cursor: pointer;

      &.is-disabled {
        cursor: not-allowed;
      }

      svg {
        margin-right: 10px;
        transform: rotate(-180deg);
        transform-origin: center;
        transition: transform 0.3s;
        color: #ccc;

        &.is-active {
          transform: rotate(-90deg);
        }
      }
    }

    .Panel-content {
      box-sizing: border-box;
      max-height: 0;
      overflow: hidden;
      transition: all 0.2s ease-out;

      &.is-active {
        max-height: 500px;
        transition: all 0.2s ease-in;
      }

      .Panel-text {
        display: inline-block;
        width: calc(100% - 32px);
        border-top: solid $panel-item-border-width $panel-item-border-color;
        padding: $panel-item-padding-y $panel-item-padding-x;
      }
    }
  }
}