.Panel-head {
  display: flex;
  align-items: center;
  padding: $panel-item-padding-y $panel-item-padding-x;
  border-bottom: solid $panel-item-border-width $panel-item-border-color;
  background: $panel-item-background;
  cursor: pointer;

  &.is-disabled {
    cursor: not-allowed;
  }

  svg {
    margin-right: 10px;
    transform: rotate(-90deg);
    transform-origin: center;
    transition: transform 0.3s;


    &.is-active {
      transform: rotate(0);
    }
  }
}

.Panel-content {
  box-sizing: border-box;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;

  &.is-active {
    max-height: 300px;
  }

  span {
    display: inline-block;
    width: calc(100% - 32px);
    padding: $panel-item-padding-y $panel-item-padding-x;
  }
}