.viking-tree-list {
  font-size: 14px;

  .viking-tree-content {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;

    .viking-tree-switch {
      display: flex;
      align-items: center;
      width: 22px;
      height: 22px;
      margin-right: 4px;
      color: $gray-500;
      cursor: pointer;
      &:hover {
        color: #3f7476;
      }

      .icon {
        width: 10px;
        transition: all 0.2s;
        transform: rotate(-90deg);
      }

      &.is-expend {
        .icon {
          transform: rotate(0);
        }
      }
    }

    .viking-tree-checkbox {
      .viking-checkbox {
        margin-right: 0;
      }

      label {
        margin-bottom: 0;
      }
    }
  }

  .viking-tree-node-children {
    padding-left: 20px;
  }
}
